@import "tailwindcss";

@theme {
  /* Custom Palette Setup */
  --color-primary-container: #1e2023;
  --color-on-surface-variant: #c6c6ca;
  --color-secondary-container: #47494c;
  --color-surface-dim: #121316;
  --color-surface-container: #1f1f23;
  --color-surface-container-low: #1a1b1e;
  --color-surface-container-high: #292a2d;
  --color-surface-container-highest: #343538;
  --color-surface-bright: #38393c;
  --color-outline-variant: #45474a;
  --color-primary: #c6c6ca;
  --color-secondary: #c5c6ca;
  --color-surface: #121316;
  --color-on-surface: #e3e2e6;

  /* Layout Spacing Adjustments */
  --spacing-margin-mobile: 24px;
  --spacing-margin-desktop: 80px;
  --spacing-gutter: 32px;
  --spacing-container-max: 1440px;
  --spacing-section-gap: 160px;
}

body {
  background-color: #121316;
  color: #e3e2e6;
  -webkit-font-smoothing: antialiased;
}

.hero-bg {
  background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuC_u9-KqAIHLGHlQgvTZWKVbpzZn1GxEGEFb7lL-b1RC6CLUhix_humAlkXCRQjWIr_QWA6bxV-APnnr8BpRGKLA-_Atmem3_WmDq9hrAlnI9jHKL7-p8B0CiqXLALJcZ0KXK9MtMzs2EuH0qaRP8Pw-iYK6HZbWDAwepCb0jzUYBehwKBNSFsKrX-G_HNWDHJ_tV7QsHFkZuRzJsIkWo0_I3bKQYj7_0tYvWzhkZ9JtabIB5HmPG4TPRgZ8EAtJwwTZTE');
  background-size: cover;
  background-position: center;
}

/* Custom Interactive Cursor styling */
.custom-cursor {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: transform 0.1s ease;
}

/* Seamless Marquee Loop Styles */
@keyframes scrollMarquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-50% - (16px * 5))); }
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scrollMarquee 40s linear infinite;
}

.carousel-track:hover {
  animation-play-state: paused;
}

@keyframes marquee-reverse {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

.animate-marquee-reverse {
  animation: marquee-reverse 25s linear infinite;
}